[Unit]
Description=BIRD Internet Routing Daemon
Wants=network.target
After=wgmesh.service wgnamespace.service

[Service]
Type=simple
ExecStart=/usr/sbin/ip netns exec %I /usr/sbin/bird -f -u bird -g bird -s /var/run/bird-%s.sock
ExecReload=/bin/kill -HUP $MAINPID
Restart=on-failure

[Install]
WantedBy=multi-user.target
