[Unit]
Description=Wireguard Mesh Boot
After=syslog.target network.target

[Service]
Type=oneshot
ExecStart=/bin/bash /usr/local/sbin/mesh_wg_restart
StandardOutput=journal
RemainAfterExit=true

[Install]
WantedBy=multi-user.target
