[Unit]
Description=Wireguard Mesh Namespace Setup Boot
After=syslog.target network.target
Before=wgmesh.service

[Service]
Type=oneshot
ExecStart=/bin/bash /usr/local/sbin/mesh_ns_init
StandardOutput=journal
RemainAfterExit=true

[Install]
WantedBy=multi-user.target
