[Unit]
Description=BIRD Internet Routing Daemon
BindsTo = systemd-netns@%i.service
JoinsNamespaceOf = systemd-netns@%i.service
After = systemd-netns@%i.service

[Service]
Type=simple
User=root
Group=root
ExecStart=/usr/sbin/ip netns exec %i /usr/sbin/bird -f -u bird -g bird -s /var/run/bird-%i.sock -c /etc/bird/bird_%i.conf
ExecReload=/usr/bin/env birdc -s /var/run/bird-%i.sock configure
ExecStop=/usr/bin/env /usr/sbin/birdc -s /var/run/bird-%i.sock down
Restart=on-failure

[Install]
WantedBy=multi-user.target
